body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.Logo{
  color: rgb(229, 150, 3);
}
.Login-Btn{
  background-color: rgb(229, 150, 3);
  color: white;
}
.footer-logo{
  font-weight: 700;
}
.navBtn:hover{
  color: black;
}
.signup-btn{
  background-color: rgb(229, 150, 3) !important;
  color: white !important;
  width: 250px;
  height: 50px;
  font-weight: bold !important;
}
.formlabel{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}
.signup-Btn{
  width: 100%;
  background-color: rgb(229, 150, 3) !important;
  border: 1px solid orange;
}
.signup-Btn:hover{
  border-color:  rgb(229, 150, 3) ;
}
.signup-Btn:active,
.signup-Btn:focus{
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid orange;
}
.signIn-Btn{
  width: 50%;
  background-color: rgb(229, 150, 3) !important;
  border: 1px solid white;
  border-radius: 30px;
}
.signIn-Btn:hover{
  border-color: white;
}
.signIn-Btn:active,
.signIn-Btn:focus{
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid rgb(255, 255, 255);
}
.formControl{
  font-size: 14px;
  /* width: 70%; */
}
.formControl:active,
.formControl:focus{
  border-color: rgb(180, 180, 180) !important;
  box-shadow: none;
}
.sign-up-card {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1); /* Lighter shadow */
  border-radius: 8px;
}
.radioButton{
  text-align: center;
}
.radioIcon input[type="radio"],
.radioIcon label {
  cursor: pointer;
}
.textColor{
  color: white;
}
.radioIcon label{
  font-size: 13px;
  font-weight: bold;
}